*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    margin: 0.2rem;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C0B10;
}

.container{
    background-color: #0C0B10;
    color: white;
    width: 30%;
}

h1{
    color: #7E7C89;
    font-size: 1rem;
}

.password-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0.2rem;
    margin: 1rem 0;
}

.password-display{
    border: none;
    outline: none;
}

.password-box input{
    background-color: #24232B;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}
.password-box span{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 40px;
}


.password-properties{
    background-color: #24232B;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.input-length{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.input-length p{
    display: flex;
    justify-content: space-between;
}

#length{
    width: 100%;
}

.strength{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18171F;
    padding: 1rem;
}
#strength{
    flex-grow: 1;
}

.boxes{
    width: 15px;
    height: 30px;
    border: 2px solid white;
    background-color: black;
    margin: 2px;
}

#generate{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #A4FFAF;
    color: #04210F;
}
#generate:hover{
    background-color: #A4FFAF;
}